.form-wrap {
  width: 100%;
  height: 100vh;
  background-color: #e8ebed;
  display: grid;
  place-items: center;
}

.form {
  background-color: white;
  max-width: 500px;
  width: 100%;
  border: 1px solid gray;
}

.tabs {
  margin-top: 40px;
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.tab {
  font-size: 1.7rem;
}
