.wrap {
  overflow: hidden;
}

.center {
  display: grid;
  place-items: center;
}

.brand {
  font-size: 5rem;
}

.text {
  margin-top: 20px;
  font-size: 1.5rem;

  line-height: 1.7;
  letter-spacing: 0.7px;
  font-weight: 400;
}

.input-wrap {
  margin-top: 40px;
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 2fr 4fr 2fr;
  grid-template-areas:
    "source icon destination"
    "text text text"
    ". . submit";
  row-gap: 17px;
}

.input-code {
  grid-column: span 3;
  grid-area: text;
  border: none;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-size: 2rem;
  padding-left: 30px;
  transition: background-color 0.3s ease, box-shadow 0.1s linear;
}

input:hover {
  background-color: rgba(0, 0, 0, 0.105);
}

input:focus {
  background-color: rgba(0, 0, 0, 0.06);
  outline: none !important;

  box-shadow: 0 0 0 1.5px #dc004e;
}

.source {
  grid-area: source;
}

.destination {
  grid-area: destination;
}

.icon {
  grid-area: icon;
}

.submit {
  grid-area: submit;
}

.submit-button {
  width: 60%;
  height: 100%;
}

.spinner-wrap {
  margin-top: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #f50057;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-top: 20px;
  margin: 0px auto;
}

@media only screen and (max-width: 600px) {
  .submit-button {
    width: 100%;
  }
  .brand {
    display: none;
  }

  .text {
    margin-top: 0px;
    font-size: 1rem;
  }

  .input-wrap {
    margin-top: 20px;
    grid-template-rows: 2fr 3fr 2fr;
    grid-template-areas:
      "source icon destination"
      "text text text"
      "submit submit submit";
  }

  .input-code {
    font-size: 1.3rem;
    padding-left: 10px;
  }

  .spinner {
    width: 80px;
    height: 80px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #f50057;
  }
}

/* .submit {
  grid-area: submit;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #4f6ccd;
  color: white;
} */
